@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 15px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.header__row {
  display: flex;
  position: absolute;
  width: 100%;
  height: 85px;
  top: 30px;
  justify-content: center;
  align-items: center;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__list a {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  transition: all 100ms;
}
.header__list a:hover {
  color: #716d7e;
}
.header__list li {
  position: relative;
  padding: 0 36px;
}
.header__list li:nth-child(2) {
  padding-right: 110px;
}
.header__list li:nth-child(3) {
  padding-left: 110px;
}
.header__list li ::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4d4959;
  right: 0;
  bottom: 0;
  pointer-events: none;
  margin-bottom: 3px;
}
.header__list li:last-child ::after, .header__list li:nth-child(2) ::after {
  display: none;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-screen {
  background: url(/img/background.png) no-repeat center;
  background-size: cover;
  flex: 1 0 100%;
}

.generetion {
  background-color: #f7f7f7;
}
.generetion__block {
  padding: 115px 0 120px 0;
}

.block {
  text-align: center;
}
.block__icon {
  margin-bottom: 27px;
}
.block__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin-bottom: 15px;
}
.block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}
.block__text_litle {
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
}
.block__text_litle::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #d7d7d7;
  margin: 30px auto 0;
}

.brands__row {
  display: flex;
}
.brands__row_revers {
  display: flex;
  flex-direction: row-reverse;
}
.brands__column {
  flex: 0 1 33.333%;
}
.brands__column_b {
  flex: 0 1 66.667%;
  position: relative;
}
.brands__link {
  display: block;
  background: url(/img/rectangle_1_54.png) no-repeat;
  background-size: cover;
  height: 100%;
}
.brands__link2 {
  display: block;
  background: url(/img/rectangle_1_copy_5_61.png) no-repeat;
  background-size: cover;
  height: 100%;
}
.brands__link3 {
  display: block;
  background: url(/img/rectangle_1_copy_6_63.png) no-repeat;
  background-size: cover;
  height: 100%;
}
.brands__link4 {
  display: block;
  background: url(/img/rectangle_1_copy_6_64.png) no-repeat;
  background-size: cover;
  height: 100%;
}
.brands__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(100, 194, 158, 0.4);
  opacity: 0;
  transition: all 500ms;
}
.brands__logo:hover {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 500px) {
  .brands__logo img {
    width: 90px;
    height: 90px;
  }
}
.brands__img {
  background: url(/img/rectangle_1_copy_2_56.png) no-repeat;
  background-size: cover;
  padding-bottom: 37.6%;
}
.brands__img2 {
  background: url(/img/rectangle_1_copy_3_59.png) no-repeat;
  background-size: cover;
  padding-bottom: 37.6%;
}
.brands__img3 {
  background: url(/img/rectangle_1_copy_6_65.png) no-repeat;
  background-size: cover;
  padding-bottom: 37.6%;
}
.brands__content {
  padding: 50px 40px 40px;
  position: relative;
}
.brands__content::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.slaider {
  background-color: #f7f7f7;
  text-align: center;
}
.slaider__body {
  padding: 100px 0;
}
.slaider__icon {
  margin-bottom: 30px;
}
.slaider__title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.slaider__title span {
  font-weight: 300;
  color: #848789;
}
.slaider__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
@media (max-width: 500px) {
  .slaider__body {
    padding: 70px 0;
  }
  .slaider__icon {
    margin-bottom: 20px;
  }
  .slaider__title {
    margin-bottom: 15px;
  }
  .slaider__text {
    font-size: 20px;
  }
}

.shop__body {
  display: flex;
  flex-wrap: wrap;
}
.shop__column {
  flex: 0 1 16.667%;
}
.shop__column_b {
  flex: 0 1 33.333%;
}
.shop__row {
  display: flex;
}
.shop__link {
  position: relative;
}
.shop__link_1 {
  flex: 0 1 50%;
  background: url(/img/first/rectangle_1.png) no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  padding-bottom: 50%;
}
.shop__link_2 {
  flex: 0 1 50%;
  background: url(/img/first/rectangle_2.png) no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  padding-bottom: 50%;
}
.shop__link_3 {
  background: url(/img/first/rectangle_3.png) no-repeat;
  background-size: cover;
  display: block;
  height: 50%;
}
.shop__link_4 {
  background: url(/img/first/rectangle_4.png) no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  padding-bottom: 200.2%;
}
.shop__link_7 {
  flex: 0 1 50%;
  background: url(/img/first/rectangle_7.png) no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  padding-bottom: 50%;
}
.shop__link_8 {
  flex: 0 1 50%;
  background: url(/img/first/rectangle_8.png) no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  padding-bottom: 50%;
}
.shop__link_6 {
  background: url(/img/first/layer_6.png) no-repeat;
  background-size: cover;
  display: block;
  height: 50%;
}
.shop__link_5 {
  background: url(/img/first/rectangle_5.png) no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  padding-bottom: 200.2%;
}
.shop__logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(100, 194, 158, 0.4);
  opacity: 0;
  transition: all 500ms;
  overflow: hidden;
}
.shop__logo span {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.shop__logo:hover {
  opacity: 1;
  overflow: visible;
}
.shop__footter {
  background-color: #282f35;
  text-align: center;
  padding: 70px 0;
}
.shop__btn {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 15px 55px;
  border: 1px solid rgba(255, 255, 255, 0.49);
  transition: all 500ms;
}
.shop__btn:hover {
  background-color: rgba(100, 194, 158, 0.6);
}
@media (max-width: 1050px) {
  .shop__column {
    flex: 0 1 33.333%;
  }
  .shop__column_b {
    flex: 0 1 66.667%;
  }
}
@media (max-width: 400px) {
  .shop__footter {
    padding: 40px 0;
  }
  .shop__btn {
    padding: 15px 30px;
  }
}

.email {
  text-align: center;
}
.email__body {
  padding: 110px 0;
  max-width: 535px;
  margin: 0 auto;
}
.email__logo {
  margin-bottom: 32px;
}
.email__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin-bottom: 32px;
}
.email__user-email {
  width: 400px;
  padding: 17px 0 17px 25px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.email__user-email::-moz-placeholder {
  font-style: italic;
  color: #929292;
  opacity: 0.5;
}
.email__user-email:-ms-input-placeholder {
  font-style: italic;
  color: #929292;
  opacity: 0.5;
}
.email__user-email::placeholder {
  font-style: italic;
  color: #929292;
  opacity: 0.5;
}
.email__go {
  font-size: 24px;
  line-height: 24px;
  font-weight: 0;
  color: #ffffff;
  padding: 17px 40px 19px;
  margin-left: 5px;
  text-transform: uppercase;
  background-color: #64c29e;
  transition: all 200ms;
}
.email__go:hover {
  transform: translateX(10px);
}
@media (max-width: 700px) {
  .email .email__body {
    padding: 80px 0;
  }
  .email .email__user-email {
    width: 300px;
  }
  .email .email__go {
    padding: 17px 40px 19px;
  }
}
@media (max-width: 500px) {
  .email__go {
    display: block;
    margin: 15px auto 0 auto;
  }
}

.footer {
  background-color: #f7f7f7;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 95px 0;
}
.footer_addres span {
  display: block;
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
  line-height: 17px;
  color: #848789;
}
.footer_addres span:first-child {
  font-weight: 700;
}
.footer__author {
  display: flex;
  align-items: center;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.footer__author span {
  display: block;
  margin-bottom: 7px;
  margin-right: 5px;
}
@media (max-width: 700px) {
  .footer__body {
    padding: 60px 0;
    flex-direction: column;
    gap: 30px;
  }
  .footer_addres {
    text-align: center;
  }
}

@media (max-width: 1050px) {
  .generetion__block {
    padding: 90px 0 90px 0;
  }
  .block__icon {
    margin-bottom: 27px;
  }
  .block__title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .block__text {
    font-size: 18px;
    line-height: 30px;
  }
  .block__text_litle {
    font-size: 16px;
    text-align: justify;
    line-height: 27px;
  }
  .block__text_litle::after {
    content: "";
    margin: 15px auto 0;
  }
  .brands__last .brands__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .brands__last .brands__column:nth-child(1) {
    order: 2;
    flex: 0 1 50%;
  }
  .brands__last .brands__column:nth-child(2) {
    order: 1;
    flex: 0 1 100%;
  }
  .brands__last .brands__column:nth-child(3) {
    order: 3;
    flex: 0 1 50%;
  }
  .brands__link {
    padding-bottom: 40%;
    position: relative;
  }
  .brands__link2 {
    padding-bottom: 40%;
    position: relative;
  }
  .brands__link3 {
    padding-bottom: 150%;
    position: relative;
  }
  .brands__link4 {
    padding-bottom: 150%;
    position: relative;
  }
  .brands__logo {
    position: absolute;
  }
  .brands__row {
    display: flex;
    flex-direction: column;
  }
  .brands__revers-mobile {
    flex-direction: column-reverse;
  }
  .brands__row_revers {
    display: flex;
    flex-direction: column-reverse;
  }
  .brands__content {
    padding: 40px 30px 30px;
  }
}
@media (max-width: 700px) {
  .header__list {
    display: flex;
    flex-wrap: wrap;
  }
  .header__list a {
    font-size: 16px;
  }
  .header__list li {
    padding: 30px;
    flex: 0 1 50%;
    text-align: center;
  }
  .header__list li:nth-child(1) {
    order: 1;
    padding: 30px;
  }
  .header__list li:nth-child(2) {
    order: 3;
    padding: 30px;
  }
  .header__list li:nth-child(3) {
    order: 4;
    padding: 30px;
  }
  .header__list li:nth-child(4) {
    order: 2;
    padding: 30px;
  }
  .header__list li ::after {
    position: absolute;
    content: "";
    display: none;
  }
  .generetion__block {
    padding: 70px 0 80px 0;
  }
}
@media (max-width: 400px) {
  .header {
    display: flex;
  }
  .header__list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100;
  }
  .header__list a {
    font-size: 16px;
  }
  .header__list li {
    z-index: 5;
    padding: 20px;
    flex: 0 1 100%;
    text-align: center;
  }
  .header__list li:nth-child(1) {
    padding: 120px 20px 20px;
  }
  .header__list li:nth-child(2) {
    padding: 20px;
  }
  .header__list li:nth-child(3) {
    padding: 20px;
  }
  .header__list li:nth-child(4) {
    padding: 20px;
  }
  .generetion__block {
    padding: 35px 0 40px 0;
  }
  .block {
    text-align: center;
  }
  .block__icon {
    margin-bottom: 20px;
  }
  .block__title {
    margin-bottom: 10px;
  }
  .block__text {
    line-height: 30px;
  }
}